In [25]:
import os

In [26]:
import pandas as pd

df = pd.read_json('/home/sebastian/coding/DEEPScreen/training_files/target_training_datasets/CHEMBL286/train_val_test_dict.json', orient='index')
df

,0,1,2,3,4,5,6,7,8,9,...,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182
training,"[CHEMBL1644461, 1]","[CHEMBL339114, 1]","[CHEMBL3401538, 1]","[CHEMBL1825183, 1]","[CHEMBL584509, 0]","[CHEMBL424543, 1]","[CHEMBL3287407, 0]","[CHEMBL1221454, 0]","[CHEMBL316208, 1]","[CHEMBL1164306, 0]",...,"[CHEMBL536992, 1]","[CHEMBL1222367, 0]","[CHEMBL237888, 0]","[CHEMBL3144406, 1]","[CHEMBL1910309, 1]","[CHEMBL3703273, 0]","[CHEMBL4113164, 1]","[CHEMBL1215446, 0]","[CHEMBL59128, 1]","[CHEMBL301528, 1]"
test,"[CHEMBL3143474, 1]","[CHEMBL386861, 1]","[CHEMBL127776, 1]","[CHEMBL3673218, 0]","[CHEMBL1270374, 1]","[CHEMBL299325, 1]","[CHEMBL1790066, 1]","[CHEMBL301985, 1]","[CHEMBL329933, 1]","[CHEMBL3400448, 1]",...,None,None,None,None,None,None,None,None,None,None
validation,"[CHEMBL1824348, 0]","[CHEMBL4114843, 1]","[CHEMBL64984, 1]","[CHEMBL2115082, 1]","[CHEMBL2381579, 0]","[CHEMBL3143480, 1]","[CHEMBL1165202, 0]","[CHEMBL390197, 0]","[CHEMBL1163932, 0]","[CHEMBL46344, 1]",...,None,None,None,None,None,None,None,None,None,None

In [27]:
df = df.transpose()
df

                training                test          validation
0     [CHEMBL1644461, 1]  [CHEMBL3143474, 1]  [CHEMBL1824348, 0]
1      [CHEMBL339114, 1]   [CHEMBL386861, 1]  [CHEMBL4114843, 1]
2     [CHEMBL3401538, 1]   [CHEMBL127776, 1]    [CHEMBL64984, 1]
3     [CHEMBL1825183, 1]  [CHEMBL3673218, 0]  [CHEMBL2115082, 1]
4      [CHEMBL584509, 0]  [CHEMBL1270374, 1]  [CHEMBL2381579, 0]
...                  ...                 ...                 ...
1178  [CHEMBL3703273, 0]                None                None
1179  [CHEMBL4113164, 1]                None                None
1180  [CHEMBL1215446, 0]                None                None
1181    [CHEMBL59128, 1]                None                None
1182   [CHEMBL301528, 1]                None                None

[1183 rows x 3 columns]

In [28]:
target_chembl286 = pd.concat([df.training,df.test,df.validation])
target_chembl286

0       [CHEMBL1644461, 1]
1        [CHEMBL339114, 1]
2       [CHEMBL3401538, 1]
3       [CHEMBL1825183, 1]
4        [CHEMBL584509, 0]
               ...
1178                  None
1179                  None
1180                  None
1181                  None
1182                  None
Length: 3549, dtype: object

In [24]:
target_chembl286 = target_chembl286[target_chembl286.notna()]
target_chembl286
#arget_chembl286 = pd.DataFrame(target_chembl286.to_list())

            comp_id  CHEMBL286
0     CHEMBL1644461          1
1      CHEMBL339114          1
2     CHEMBL3401538          1
3     CHEMBL1825183          1
4      CHEMBL584509          0
...             ...        ...
1847  CHEMBL1165196          0
1848  CHEMBL1454208          0
1849  CHEMBL3354251          0
1850  CHEMBL1256491          1
1851  CHEMBL2177340          0

[1852 rows x 2 columns]

In [5]:
target_chembl286 = target_chembl286.rename(columns={0:'comp_id',1:'CHEMBL286'})
#target_chembl286 = target_chembl286.set_index('comp_id')

In [7]:
target_chembl286

            comp_id  CHEMBL286
0     CHEMBL1644461          1
1      CHEMBL339114          1
2     CHEMBL3401538          1
3     CHEMBL1825183          1
4      CHEMBL584509          0
...             ...        ...
1847  CHEMBL1165196          0
1848  CHEMBL1454208          0
1849  CHEMBL3354251          0
1850  CHEMBL1256491          1
1851  CHEMBL2177340          0

[1852 rows x 2 columns]

In [21]:
x = target_chembl286.iloc[3]
x.comp_id

'CHEMBL1825183'

In [9]:
a = pd.merge(chembl_filtered,target_chembl286,how='left',left_on='Compound_CHEMBL_ID',right_on='comp_id')

In [10]:
a[a.CHEMBL286.notna()]

,Target_CHEMBL_ID,Compound_CHEMBL_ID,pchembl_value,Assay_CHEMBL_ID,assay_type,standard_type,standard_value,standard_units,Assay Taxonomy,TD Tax ID,...,src_compound_id,src_assay_id,src_id,src_description,standard_relation,activity_comment,description,year,comp_id,CHEMBL286
3885,CHEMBL1862,CHEMBL939,6.17,CHEMBL1908680,B,Kd,0.680,uM,NaN,9606,...,32,224,1,Scientific Literature,=,NaN,Binding constant for ABL1(H396P)-non phosphory...,2011.0,CHEMBL939,0.0
5507,CHEMBL203,CHEMBL939,7.96,CHEMBL3995335,B,IC50,0.011,uM,9606.0,9606,...,NaN,NaN,1,Scientific Literature,=,NaN,Inhibition of EGF induced EGFR phosphorylation...,2017.0,CHEMBL939,0.0
14954,CHEMBL204,CHEMBL567893,5.00,CHEMBL1041951,B,IC50,10.000,uM,NaN,9606,...,NaN,NaN,1,Scientific Literature,=,NaN,Inhibition of thrombin alpha after 10 to 15 mi...,2009.0,CHEMBL567893,0.0
16458,CHEMBL1801,CHEMBL567893,5.00,CHEMBL1041056,B,IC50,10.000,uM,9606.0,9606,...,NaN,NaN,1,Scientific Literature,=,NaN,Inhibition of human plasmin after 10 to 15 min...,2009.0,CHEMBL567893,0.0
18928,CHEMBL205,CHEMBL517746,6.48,CHEMBL1005300,B,Ki,0.330,uM,9606.0,9606,...,NaN,NaN,1,Scientific Literature,=,NaN,Inhibition of human recombinant CA2 by stopped...,2009.0,CHEMBL517746,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
905212,CHEMBL2046264,CHEMBL2419046,7.77,CHEMBL2421977,B,IC50,0.017,uM,9541.0,9541,...,645564,591208,1,Scientific Literature,=,NaN,Inhibition of cynomolgus monkey plasma renin a...,2013.0,CHEMBL2419046,1.0
910935,CHEMBL2295561,CHEMBL28,4.75,CHEMBL4013924,B,IC50,17.800,uM,9913.0,9913,...,NaN,NaN,1,Scientific Literature,=,NaN,Inhibition of bovine milk LPO assessed as redu...,2017.0,CHEMBL28,0.0
917045,CHEMBL3297642,CHEMBL2272783,4.14,CHEMBL3300758,B,EC50,73.000,uM,10029.0,10029,...,745963,692951,1,Scientific Literature,=,NaN,Inhibition of BACE-1 in CHO cells expressing w...,2014.0,CHEMBL2272783,0.0
917094,CHEMBL3309049,CHEMBL1215516,6.54,CHEMBL1218925,B,EC50,0.290,uM,10090.0,10090,...,NaN,NaN,1,Scientific Literature,=,NaN,Inhibition of H-PGDH in mouse BMDM cells asses...,2010.0,CHEMBL1215516,0.0
927444,CHEMBL4105967,CHEMBL28,4.38,CHEMBL4058245,B,Kd,41.600,uM,9606.0,9606,...,NaN,NaN,1,Scientific Literature,=,NaN,Binding affinity myocilin-OLF domain (unknown ...,2017.0,CHEMBL28,0.0

In [8]:
from chembl_webresource_client.new_client import new_client

compounds = target_chembl286.comp_id.to_list()
molecule = new_client.molecule
mols = molecule.filter(molecule_chembl_id__in=compounds).only(['molecule_chembl_id','molecule_structures','canonical_smiles'])

In [13]:
mols_trial = mols[0:5]

In [20]:
df = pd.Series(mols_trial)

In [18]:
df

0    {'molecule_chembl_id': 'CHEMBL28', 'molecule_s...
1    {'molecule_chembl_id': 'CHEMBL8665', 'molecule...
2    {'molecule_chembl_id': 'CHEMBL406692', 'molecu...
3    {'molecule_chembl_id': 'CHEMBL276372', 'molecu...
4    {'molecule_chembl_id': 'CHEMBL266334', 'molecu...
dtype: object

In [23]:
smiles = pd.Series(dtype='string')
for molecule in mols:
    smiles[molecule['molecule_chembl_id']] = molecule['molecule_structures']['canonical_smiles']

CHEMBL28                      O=c1cc(-c2ccc(O)cc2)oc2cc(O)cc(O)c12
CHEMBL8665       CCCOC(NC(=O)[C@H](Cc1ccccc1)NS(=O)(=O)N1CCOCC1...
CHEMBL406692     CC(C)C[C@H](O)[C@H](O)[C@H](CC1CCCCC1)NC(=O)C(...
CHEMBL276372     O=C(C[C@H](O)[C@H](CC1CCCCC1)NC(=O)C(Cc1c[nH]c...
CHEMBL266334     CCSC(NC(=O)[C@H](Cc1ccccc1)NS(=O)(=O)N1CCOCC1)...
                                       ...
CHEMBL4227924    Nc1nc2cc(-c3ccccc3)cc(-c3cccnc3)c2c(=O)n1CC1CCCO1
CHEMBL4228633    Nc1cccc(-c2cc(-c3ccccc3)cc3nc(N)n(CC4CCCO4)c(=...
CHEMBL4229013    Nc1nc2cc(-c3ccccc3)cc(-c3cccc(C(=O)O)c3)c2c(=O...
CHEMBL4239247    COc1cccc(CNC[C@@H](O)[C@H](Cc2ccccc2)NC(=O)[C@...
CHEMBL4244219    COc1cccc(CNC[C@@H](O)[C@H](Cc2ccccc2)NC(=O)[C@...
Length: 1852, dtype: object

In [13]:
smiles['CHEMBL1644461'] == 'CC(C)[C@H](C[C@H](O)[C@H](COCc1ccccc1)NC(=O)c1cc(C(=O)N[C@H](C)c2ccccc2)cc(N(C)S(C)(=O)=O)c1)C(=O)N[C@H](C(=O)NCc1ccccc1)C(C)C'

True

In [22]:
smiles

df_smiles = pd.Series(smiles, name='smiles')

df_smiles = pd.merge(target_chembl286,df_smiles,how='left',left_on='comp_id',right_index=True)

In [26]:
print(df_smiles.head(5))

         comp_id  CHEMBL286                                             smiles
0  CHEMBL1644461          1  CC(C)[C@H](C[C@H](O)[C@H](COCc1ccccc1)NC(=O)c1...
1   CHEMBL339114          1  CC(C)(C)OC(=O)NC(Cc1ccccc1)C(=O)N[C@H]1CCC(=O)...
2  CHEMBL3401538          1  COCCCOc1cc(C(=O)N(C[C@@H]2CNC[C@H]2NS(=O)(=O)c...
3  CHEMBL1825183          1  Cc1c(F)cccc1Cc1c(C(=O)N2CCNCC2)c2ccncc2n1-c1cc...
4   CHEMBL584509          0  NC1=N[C@@](c2ccc(OC(F)(F)F)cc2)(c2cccc(-c3cccn...

In [25]:
df_smiles.to_csv('/home/sebastian-wsl/DEEPScreen/bin/trial/df_trial.csv', index=False)